body {
	font-size: 12px;
}

th { 
	font-weight: 700;
	background-color: #eee;
}

th, td {
    border: 1px solid #ccc;
    padding: 4px;
}

.sans-serif {	font-family: sans-serif; }
.serif { font-family: serif; }
.cursive { font-family: cursive; }
.monospace { font-family: monospace; }
.arial { font-family: Arial; }
.comic-sans { font-family: "Comic Sans MS"; }
.courier-new { font-family: "Courier New"; }
.georgia { font-family: Georgia; }
.helvetica { font-family: Helvetica; }
.impact { font-family: Impact; }
.lucida-console { font-family: "Lucida Console"; }
.lucida-grande { font-family: "Lucida Grande"; }
.tahoma { font-family: Tahoma; }
.times-new-roman { font-family: Times New Roman; }
.trebuchet-ms { font-family: "Trebuchet MS"; }
.verdana { font-family: Verdana; }

.bold { font-weight: 700; }
.italic { font-style: italic; }
.contrast { background-color: #000; color: #fff; }

